body{
    background-color: #533D5B
}

.menu ul{
    display: inline-flex;
    margin: 50px;
}

.menu ul li {
    color:#fff;
    list-style-type: none;
    
    cursor: pointer;
    font: 40px sans-serif;
    margin: 0 20px;
}