


a:hover {
    transition-duration: 1s;
    -webkit-transition-property: color;
    -moz-transition-property: color;
    -o-transition-property: color;
    transition-property: color;

    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    -o-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    text-decoration:underline;
    color: #57B4D2;

    
}

nav[class="menu"] {
    position: absolute;
    top: 100px;
    right: 45%;
}

.menu ul{
    display: inline-block;
    margin: 50px;
}

.menu ul li {
    color:#fff;
    list-style-type: none;
    cursor: pointer;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto;
    font-family: 'Squada One', cursive;
    text-align: center;
}




img[title="Heart"] {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 100px;
    right: 50%;
}


